@import "custom";
// Appliquer la police
body {
  font-family: $font-family-base;
  background-color: $background-1;
  color: $text-color;
  font-size: 1rem; // 16px
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  margin-top: 100px;
}

// Titres
h1 {
  font-family: $font-family-heading;
  font-size: 2rem; // 32px
  font-weight: 700;
}
h2 {
  font-family: $font-family-heading;
  font-size: 1.5rem; // 24px
  font-weight: 600;
}
h3 {
  font-family: $font-family-heading;
  font-size: 1.125rem; // 18px
  font-weight: 500;
}

// Texte
p {
  font-size: 1rem; // 16px
  font-weight: 400;
}

// Texte secondaire
.small-text {
  font-size: 0.875rem; // 14px
  font-weight: 300;
}

// Liens
a {
  font-family: $font-family-base;
  color: $primary;
  font-size: 1rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Boutons personnalisés
.btn-primary {
  background-color: $primary;
  font-family: $font-family-heading;
  font-size: 1rem;
  color: $secondary;
  border: none;

  &:hover {
    background-color: darken($primary, 10%);
  }
}
.btn-danger {
  background-color: $danger;
  font-family: $font-family-heading;
  font-size: 1rem;
  color: $dark;
  border: none;

  &:hover {
    background-color: darken($primary, 10%);
  }
}
.navbar {
  height: 120px;

  @media (max-width: 992px) {
    height: auto;
  }

  ::placeholder {
    color: $secondary;
  }
}
.logo-no-margin {
  margin: 0 !important;
  padding: 0 !important;
}
.search-input {
  border: 1px solid $secondary;
  border-radius: 10px;
  &:focus {
    border-color: $secondary;
    box-shadow: none;
  }
}
label.form-label {
  min-width: 100px;
  width: 100px;
  display: inline-block;
  text-align: left;
}

input.form-control {
  border-radius: 10px;
  background-color: $background-2;
  max-width: 175px;
}
.btn {
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.mon-input {
  background-color: $background-3 !important;
  &::placeholder {
    color: $text-color;
  }
}
.background-2 {
  background-color: $background-2;
}
.accordion-button:not(.collapsed) {
  background-color: $background-2;
}
.accordion-button {
  display: inline;
  text-align: end !important;
}
#suggestions-depart,
#suggestions-destination {
  z-index: 10;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0 0 5px 5px;
}
.background-3 {
  background-color: $background-3;
}
.invalid {
  background-color: $danger !important;
}
::placeholder {
  font-style: italic;
  opacity: 0.7;
}
.bg-fixed {
  background-image: url("/images/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.card-survol {
  transition: transform 0.3s ease;
}

.card-survol:hover {
  transform: scale(1.05);
  z-index: 2;
  position: relative;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}
.container .row {
  row-gap: 0.75rem;
}
.disabled-link {
  pointer-events: none;
  color: gray;
  cursor: default;
  text-decoration: none;
}
